/*common*/
* {
  margin: 0;
  padding: 0;

  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

/*Content Section*/
.content {
  min-width: 1080px;

  width: auto;

  padding-top: 230px;
}
.content .body {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
  min-width: 1000px;
  max-height: 700px;
  padding-left: 50px;
}

/*コンテンツ画像*/
.content .body img {
  display: inline;
  width: 500px;
  height: 500px;
  margin-top: -50px;
}
/*名前*/
.content .body h1 {
  color: white;
  margin: 20px 0 20px;
  font-size: 75px;
}
/*プログラム言語*/
.content .body h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}
/*ゲームエンジニア*/
.content .body h4 {
  color: pink;
  letter-spacing: 2px;
  font-size: 20px;
}

/*contact form*/
.content .newslatter form {
  position: flex;
}
/*Contact button*/
.content .newslatter form input:first-child {
  width: 80%;
  padding: 10px 30px;

  border: 2px solid lightseagreen;
  border-radius: 30px;
  box-shadow: 1px 1px 10px black;
}
.content .newslatter form input:last-child {
  position: relative;
  margin-left: 69%;
  top: -41px;
  padding: 10px 20px;

  border: none;
  background-color: lightseagreen;
  border-radius: 30px;
  color: white;
  box-shadow: 1px 1px 10px black;
}
.content .newslatter form input:last-child:hover {
  background-color: seagreen;
  border-radius: 30px;
  color: gray;
  box-shadow: 1px 1px 10px black;
}
