/*footer*/
footer {
  min-width: 1080px;

  width: auto;
  height: 100%;

  background-color: #101010;

  display: flex;
  justify-content: space-between;
  overflow: scroll;
}
footer .link {
  min-width: 50%;
  max-width: 50%;
  width: 50%;

  display: inline-block;
}
footer .otherlink {
  min-width: 400px;
  max-width: 400px;

  margin-top: 40px;
  margin-right: 40px;

  display: flex;
  justify-content: right;
}
footer p:nth-child(1) {
  font-family: "Cherry Bomb One", system-ui;
  color: white;
  font-size: 30px;
  font-weight: bold;

  margin-left: 20px;
  top: 20px;
}
footer p:nth-child(1) span {
  font-family: "Cherry Bomb One", system-ui;
  color: lightseagreen;
  font-size: 30px;
  padding: 0px 0px 0px 1px;
  font-weight: bold;

  top: 20px;
}
footer p:nth-child(2) {
  width: 500px;

  font-family: system-ui;
  color: white;
  font-size: 12px;

  margin-left: 15px;
  top: 10px;
}

/*メディア関係*/
.social {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}
.social a {
  width: 45px;
  height: 45px;

  background-color: lightseagreen;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;

  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.social a:hover {
  transform: scale(1.3);
}

/*ページ内コンテンツリンク*/
footer .otherlink .list {
  width: 100px;
  height: 50%;

  margin-left: 15px;
}
footer .otherlink .list h5 {
  color: white;
  font-size: 18px;
}
footer .otherlink .list .element a {
  color: blueviolet;
  font-size: 15px;

  display: list-item;
}

/*コピーライト*/
.end {
  font-family: none;
  color: white;
  font-size: 10px;

  margin-top: 200px;
  margin-left: 20px;
  margin-bottom: 10px;
}
