<header class="site-header">
    <div class="site-header__inner">
        <a href="index.html" class="site-logo">
            <span class="site-logo__mark">P</span>
            <span class="site-logo__text">pankun.dev</span>
        </a>

        <nav class="site-nav">
            <a
                href="https://breadmotion.github.io/WebSite/index.html"
                data-nav="index.html"
                >Home</a
            >
            <a
                href="https://breadmotion.github.io/WebSite/blog.html"
                data-nav="blog.html"
                >Blog</a
            >
            <a
                href="https://breadmotion.github.io/WebSite/portfolio.html"
                data-nav="portfolio.html"
                >Portfolio</a
            >
            <a
                href="https://breadmotion.github.io/WebSite/products.html"
                data-nav="https://breadmotion.github.io/WebSite/products.html"
                >Products</a
            >
            <a
                href="https://breadmotion.github.io/WebSite/contact.html"
                data-nav="https://breadmotion.github.io/WebSite/contact.html"
                >Contact</a
            >
        </nav>
    </div>
</header>
