<header class="site-header">
    <div class="site-header__inner">
        <a href="index.html" class="site-logo">
            <span class="site-logo__mark">P</span>
            <span class="site-logo__text">pankun.dev</span>
        </a>

        <nav class="site-nav">
            <a href="index.html" data-nav="index.html">Home</a>
            <a href="blog.html" data-nav="blog.html">Blog</a>
            <a href="portfolio.html" data-nav="portfolio.html">Portfolio</a>
            <a href="download.html" data-nav="download.html">Download</a>
            <a href="contact.html" data-nav="contact.html">Contact</a>
        </nav>
    </div>
</header>
