main{
  min-width: 1080px;
  background-color: #191919;
}

.box {
  min-width: 880px;
  padding: 0 10%;
  
  background-color: #191919;
  overflow: scroll;
  align-content: center;
}

.markdown {
  margin: 10px 30vmax 0 10vmax;
  max-width: 1080px;
  font-family: "Yomogi", cursive;
  background-color: #191919;
  color: #fff;
  
  .text-cell {
    font-family: "Yomogi", cursive;
    font-size: 14px;
    padding: 50px;
  }

  pre, .entry-content pre {
    margin-top: 20px;
    padding: 0;
  }
  
  .code-cell {
    font-family: "Yomogi", cursive;
    font-size: 12px;
    padding: 50px;
  }

  pre > code, .entry-content pre > code {
    max-height: 900px;
    max-width: 80vmax;
    
    padding: 20px 25px;
    
    margin: 0;
    
    font-family: monospace;
    font-size: 1.1em;
    color: #fafafa;
    box-sizing: border-box;
    
    display: block;
    background: #1f1f1f;
    overflow: scroll;
    white-space: pre;
  }
  
  .markdown-cell {
    font-family: "Yomogi", cursive;
    font-size: 14px;
  }
  
  .latex-cell {
    font-family: "Yomogi", cursive;
    font-size: 14px;
  }
  
  h1 {
    font-family: "Yomogi", cursive;
    position: relative;
    padding: 1em 0;
    padding-left: 50px;
    padding-right: 50px;
  }

  h1::before,
  h1::after {
    font-family: "Yomogi", cursive;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
  }

  h1::before {
    font-family: "Yomogi", cursive;
    top: 0;
    border-top: 2px solid lightseagreen;
    border-bottom: 1px solid lightseagreen;
  }

  h1::after {
    font-family: "Yomogi", cursive;
    bottom: 0;
    border-top: 1px solid lightseagreen;
    border-bottom: 2px solid lightseagreen;
  }
  
  h2 {
    font-family: "Yomogi", cursive;
    position: relative;
    padding: .75em 1em .75em 3.0em;
    border: 1px solid lightseagreen;
  }

  h2::after {
    width: 6px;
    height: -webkit-calc(100% - 1em);
    
    top: .5em;
    left: 2.0em;

    
    content: '';
    font-family: "Yomogi", cursive;
    position: absolute;
    height: calc(100% - 1em);
    background-color: lightseagreen;
    border-radius: 4px;
  }
  
  h3 {
    font-family: "Yomogi", cursive;
    padding: .5em .75em;
    background-color: #191919;
    border-left: 6px solid lightseagreen;
  }
  
  h4 {
    font-family: "Yomogi", cursive;
    padding: .5em .75em;
    background-color: #191919;
    border-radius: 6px;
  }
  
  h5 {
    font-family: "Yomogi", cursive;
    padding: .5em .75em;
    border-bottom-style: dotted;
    border-bottom-color: lightseagreen;
    border-bottom-width:thin;
  }
  h6 {
    font-family: "Yomogi", cursive;
  }
  
  table thead th {
    font-family: "Yomogi", cursive;
    background: lightseagreen;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
  }
  
  hr {
    font-family: "Yomogi", cursive;
    background-color: #fff;
    border-top: 1px dashed lightseagreen;
  }
  
  strong {
    font-family: "Yomogi", cursive;
    background: linear-gradient(transparent 60%, lightseagreen 100%);
  }
  li .a{
    
  }
  
  ul>li{
    font-family: "Yomogi", cursive;
    padding:0px;
    margin:0px;
  }
  
  ul>li{
    font-family: "Yomogi", cursive;
    list-style-type: none !important;
    list-style-image: none !important;
    margin: 5px 0px 5px 10px !important;
  }
  
  ul>li{
    font-family: "Yomogi", cursive;
    position: relative;
    padding-left: 20px;
  }
  
  ul>li:before{
    top: 3px;
    left: 2px;
    height: 0;
    width: 0;

    font-family: "Yomogi", cursive;
    content: '';
    box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
    
    display: block;
    position: absolute;
    
    border-top: 6px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid lightseagreen;
    
  }
  
  a {
    font-family: "Yomogi", cursive;
    position: relative;
    color: lightseagreen;
    padding-left: 100px;
  }
  
  a:before {
    font-family: "Yomogi", cursive;
    content: "→ ";
  }
  
  ol {
    font-family: "Yomogi", cursive;
    counter-reset: li;
    padding: 0;
    list-style: none;
  }
  ol li {
    font-family: "Yomogi", cursive;
    position: relative;
    margin: 0 0 8px 4em;
    padding: 2px 8px;
  
  }
  ol li:before {
    font-family: "Yomogi", cursive;
    content: counter(li);
    counter-increment:li;
    position: absolute;
    top: -2px;
    left: -2em;
    width: 2em;
    padding: 3px 0;
    color: #fff;
    background: lightseagreen;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
  }
  
  img {
    font-family: "Yomogi", cursive;
    height: 50%;
    width: 50%;
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  
  img:hover {
    font-family: "Yomogi", cursive;
    width: 100%;
    height: 100%;
  }

  p {
    font-family: "Yomogi", cursive;
  }
}