/*main*/
.main {
  min-width: 1080px;
  background-color: #191919;

  padding-top: 10px;

  text-align: center;
}

.main .otoiawase {
  font-size: 50px;
  color: white;
}

.main .input div {
  padding-bottom: 10px;
}

.main .input div p {
  color: white;
  font-size: 24px;
}

.main .input form {
  padding-bottom: 30px;
}

.main .input form input {
  text-align: center;
  font-family: "Yomogi", cursive;
}

.main .input form input:first-child {
  width: auto;
  padding: 10px 100px;

  color: black;
  border: 2px solid lightseagreen;
  border-radius: 30px;
  box-shadow: 1px 1px 10px black;
}

.main .input form input:last-child:hover {
  background-color: lightseagreen;
  border-radius: 30px;
  color: gray;
  box-shadow: 1px 1px 10px black;
}

.main .input .last-input input {
  font-family: "Cherry Bomb One", system-ui;
  margin-top: 70px;
}
