/*main*/
.main {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
  max-height: 700px;
  padding-top: 30px;
  padding-left: 50px;
  background-color: #191919;
}

.main form {
  position: flex;
}

.main form input:first-child {
  width: 80%;
  padding: 10px 30px;

  color: black;
  border: 2px solid lightseagreen;
  border-radius: 30px;
  box-shadow: 1px 1px 10px black;
}
.main form input:last-child {
  position: relative;
  margin-left: 78%;
  top: -41px;
  padding: 10px 20px;

  border: none;
  background-color: lightseagreen;
  border-radius: 30px;
  color: white;
  box-shadow: 1px 1px 10px black;
}
.main form input:last-child:hover {
  background-color: seagreen;
  border-radius: 30px;
  color: gray;
  box-shadow: 1px 1px 10px black;
}
