/*main*/
.main {
  display: flex;
  justify-content: space-evenly;

  width: auto;
  height: auto;

  background-color: #191919;

  position: flex;
}

.main form {
  position: flex;
  width: auto;
  height: auto;

  margin-top: 10%;
  margin-bottom: 10%;
}

.main form input:first-child {
  width: auto;
  padding: 10px 30px;

  color: white;
  border: 2px solid lightseagreen;
  border-radius: 30px;
  box-shadow: 1px 1px 10px black;
}
.main form input:last-child {
  position: relative;
  margin-left: 50%;
  top: -50%;
  width: auto;
  padding: 10px 20px;

  border: none;
  background-color: lightseagreen;
  border-radius: 30px;
  color: white;
  box-shadow: 1px 1px 10px black;
}
.main form input:last-child:hover {
  background-color: seagreen;
  border-radius: 30px;
  color: gray;
  box-shadow: 1px 1px 10px black;
}
